=stylesheet_link_tag "twitterfeed"

#twitterfeed

  #twitterfeed_header
    TwitterFeed
  #twitterfeed_content
    - tweet_array.each do |tweet|
      #twitterfeed_tweet{:class => cycle('even','odd')}
        #twitterfeed_pic
          = image_tag tweet["pic_url"]
        #twitterfeed_handle
          =link_to tweet["handle"], "http://twitter.com/#{tweet['handle']}", :target => '_new'
        
          .twitterfeed_time
            =tweet_time(tweet["created_at"])
        #twitterfeed_text
          = tweet["text"]
      