#twitterfeed {

  margin: 20px;
  width: 300px;
  font: Helvetica;
  font-size: 13px;
}
  
  .right {
    float: right;
  }
  
  .left {
    float: left;
  }
  
  #twitterfeed_header {
    margin-bottom: 5px;
    font-family: arial;
    font-size: 15px;
    font-style: italic;}
    
    #twitterfeed_header img{
      margin-left: 10px;
      }
  
  #twitterfeed_content {
    height: 300px;
    overflow: scroll;
    overflow-x:hidden;
    border: 1px solid black;
  	border-radius: 5px;
  }

  #twitterfeed_tweet {
    border-bottom: 1px solid;
    padding: 10px;
    padding-left: 5px;
    min-height: 50px;
    
  }
    .even {
      background-color: white;
    }
    
    .odd {
      background-color: #efedee;
    }
    
    #twitterfeed_handle {
      margin-bottom: 5px;
      color: black;
    }
    
      #twitterfeed_handle a{
        font-weight: bold;
        color: black;
      }
      
        #twitterfeed_handle a:hover{
          color: #1ba09f;
          font-style: underline;
        }
    
      .twitterfeed_time{
        float: right;
        font-size: 10px;
        font-weight: bold;
        color: red;
      }
  
    #twitterfeed_pic{
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      height: 100% !important;
      width: 50px;
    }
    
    #twitterfeed_text {
      margin-left: 60px;
    }